<ul class="navbar-nav  sidebar sidebar-dark accordion" id="accordionSidebar" [ngStyle]="{'background-color': isAdmin ? '#037a35' : '#056094'}">
    <!-- [ngClass]=" isAdmin == 'ADMIN' ? 'navbarcolor' : 'clientnav'" -->
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div *ngIf="isAdmin" class="sidebar-brand-text mx-3">Admin <sup>2</sup></div>
        <div *ngIf="isLecture" class="sidebar-brand-text mx-3">Lecturer <sup>2</sup></div>
        <div *ngIf="isStudent" class="sidebar-brand-text mx-3">Student <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <!-- INVESTORS -->
        <button type="button" routerLink="profile" class="btn btn-primary px-3 mx-4" data-toggle="modal" data-target="#exampleModal">
            Edit profile
          </button>
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/dashboard" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-folder"></i>
            <span>Campus Overview</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/dashboard" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Request Direction</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" routerLink="/utilities-color">Alerts</a>
                <a class="collapse-item" routerLink="/utilities-border">Notification</a>
                <a class="collapse-item" routerLink="/utilities-animation">Map</a>
                <a class="collapse-item" routerLink="/utilities-other">Messages</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading" *ngIf="isAdmin">
        USERS
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active"  *ngIf="isAdmin">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Users Pages</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Login Screens:</h6> -->
                <a class="collapse-item" routerLink="lecture/all">View lectures</a>
                <a class="collapse-item" routerLink="student/all">View students</a>
                
                <!-- <a class="collapse-item" routerLink="forgot-password">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item active" routerLink="/null">404 Page</a>
                <a class="collapse-item" routerLink="/blank">Blank Page</a> -->
            </div>
        </div>
    </li>

   
</ul>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>