section
{
  background-color: #2f5e94;
  max-height: fit-content;
}

label, h3, p{
  color: white;

}

.btn
{
  margin-left: 25%;
  background-image: linear-gradient(rgb(53, 12, 129), rgb(67, 45, 107));
}

.text_color{
  color: red;
}

.img-fluid{
 background-color: rgb(61, 150, 61);

}