<div class="justify-content-center border-1 border-dark">
    <div class="locations d-flex px-2">
        <div class="main px-4 text-success">

            <svg class="text-success" width="14px" height="20px" viewBox="0 0 14 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
                <title>location_on</title>
                <desc>Created with Sketch.</desc>
                <g id="Icons" stroke="green" stroke-width="1" fill="none" fill-rule="green">
                    <g id="Rounded" transform="translate(-377.000000, -1306.000000)">
                        <g id="Communication" transform="translate(100.000000, 1162.000000)">
                            <g id="-Round-/-Communication-/-location_on" transform="translate(272.000000, 142.000000)">
                                <g>
                                    <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M12,2 C8.13,2 5,5.13 5,9 C5,13.17 9.42,18.92 11.24,21.11 C11.64,21.59 12.37,21.59 12.77,21.11 C14.58,18.92 19,13.17 19,9 C19,5.13 15.87,2 12,2 Z M12,11.5 C10.62,11.5 9.5,10.38 9.5,9 C9.5,7.62 10.62,6.5 12,6.5 C13.38,6.5 14.5,7.62 14.5,9 C14.5,10.38 13.38,11.5 12,11.5 Z" id="🔹Icon-Color" fill="#1D1D1D"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>

            Main Locations
        </div>
        <div class="dest px-4 text-primary">
            <svg class="text-success" width="14px" height="20px" viewBox="0 0 14 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
                <title>location_on</title>
                <desc>Created with Sketch.</desc>
                <g id="Icons" stroke="blue" stroke-width="1" fill="none" fill-rule="blue">
                    <g id="Rounded" transform="translate(-377.000000, -1306.000000)">
                        <g id="Communication" transform="translate(100.000000, 1162.000000)">
                            <g id="-Round-/-Communication-/-location_on" transform="translate(272.000000, 142.000000)">
                                <g>
                                    <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M12,2 C8.13,2 5,5.13 5,9 C5,13.17 9.42,18.92 11.24,21.11 C11.64,21.59 12.37,21.59 12.77,21.11 C14.58,18.92 19,13.17 19,9 C19,5.13 15.87,2 12,2 Z M12,11.5 C10.62,11.5 9.5,10.38 9.5,9 C9.5,7.62 10.62,6.5 12,6.5 C13.38,6.5 14.5,7.62 14.5,9 C14.5,10.38 13.38,11.5 12,11.5 Z" id="🔹Icon-Color" fill="#1D1D1D"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            Destination
        </div>
    </div>
    <div class="container-flui d-flex">
        <div id="map"></div>

        <div class="card" style="width: 19rem;">
            <div class="card-body">
                <h5 class="card-title display-6">Instruction</h5>
                <p class="card-text" *ngIf="fromB10">
                    Pass  <b>Library</b>  and <b>I-Center</b>  <br> <br> Turn left after <b>One-Stop Registration</b> 
                    <br> <br> Keep it straight, On your Left is your Destination
                </p>
            </div>
        </div>
    </div>
    
</div>

<!-- <div class="map-container">
    <div id="map"></div>
    <div class="direction-card">

        <div class="card" style="width: 13rem;">
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Content</p>
        </div>
    </div>
    </div>
    
  </div> -->