<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
            class="fa-regular fa-diamond-turn-right fa-sm text-white-50"></i> Map direction</a>
    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button> -->
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            TOTAL LECTURES</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{totLectCount}}</div>
    
                    </div>
                    <div class="col-auto">
                        <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
                        <i class="fa-solid fa-person-chalkboard fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            TOTAL STUDENTS</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{totStudCount}}</div>
                    </div>
                    <div class="col-auto">
                        <!-- <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> -->
                        <i class="fa-solid fa-people-line fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">PROGRESS
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 mx-3">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            TOTAL BUILDINGS</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">6</div>
                    </div>
                    <div class="col-auto">
                        <!-- <i class="fas fa-comments fa-2x text-gray-300"></i> -->
                        <i class="fa-solid fa-building-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Campus Overview</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3295.446429399469!2d28.095020011702566!3d-25.540295238883736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ebfcf9c4eedb233%3A0x9e2de5e61f9e48e7!2sTshwane%20University%20of%20Technology%20-%20Soshanguve%20South%20Campus%20-%20TUT!5e0!3m2!1sen!2sza!4v1678477408825!5m2!1sen!2sza&t=satellite" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1490.5959653904747!2d28.09562243288884!3d-25.54071256368196!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sza!4v1679490528147!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Request Direction </h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                   
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie ">
                    
                    <h4 class="text-center">Campus Locations</h4>

                    <div class="mt-4 text-success medium">
                        
                        <div class="card border border-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <div class="card-body">
                                <span class="mr-2 mt-1 d-flex">
                                    <div class="col-auto ">
                                        <!-- <i class="fas fa-comments fa-2x text-gray-300"></i> -->
                                        <i class="fa-regular fa-diamond-turn-right fa-2x text-gray-300"></i>
                                    </div>
                                    <h3 class="">Directions</h3>
                                    
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">


    </div>

    <div class="col-lg-6 mb-4">


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Location</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row register-form" [formGroup]="form" ngNativeValidate>
                <div class="form-group">
                <p class="mt-">Choose Building</p>
                <select class="form-select form-control" formControlName="name" aria-label="Default select example">
                  <!-- <option [selected]="true" value="">Choose your role</option> -->
                  <!-- <option value="Building 10">Building 10</option>
                  <option value="Building 12">Building 12</option>
                  <option value="Building 13">Building 13</option>
                  <option value="Building 14">Building 14</option> -->
                  Building 10
                  <option value="10-G28">10-G28</option>
                  <option value="10-120">10-120</option>
                  Building 12
                  <br> 
                  <option value="12-115">12-115</option>
                  <option value="12-120">12-120</option>
                  <option value="Ruth First Hall">Ruth First Hall</option>
                  <!-- <option value="One Stop Registration">One Stop Registration</option>
                  <option value="I-Center">I-Center</option>
                  <option value="Library">Library</option> -->
                  <option value="Cafeteria">Cafeteria</option>
                </select>
              </div>
            </form>         
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a [routerLink]="['map/direction']" [queryParams]="{name: name}"><button type="button" class="btn btn-primary" (click)="getDirections()" href="map/direction">Directions</button></a>
        </div>
      </div>
    </div>
  </div>